<!-- <p>name-editor works!</p>
<form>
  <label for="name">Name: </label>
  <input id="name" type="text" [formControl]="name">

  <label for="price">Price: </label>
  <input id="price" type="text" [formControl]="price">

  <label for="description">Description: </label>
  <input id="description" type="text" [formControl]="description">

  <label for="image">Image: </label>
<input id="image" type="text" [formControl]="image">
</form>
<button type="button" (click)="updateName()">Update name</button>

<p>Value1: {{ name.value }}</p>
<p>Value2: {{ price.value }}</p>
<p>Value3: {{ description.value }}</p>
<p>Value4: {{ image.value }}</p> -->

