  <div class="min-h-screen bg-gray-100">
    <!-- Navigation bar -->
    <nav class="bg-cyan-900">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <!-- Logo -->
          <!-- Desktop menu items -->
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <a href="/crud" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
               <a href="/crud/post" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Add a book</a>
               <a href="/crud/items" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Books</a>
              <a href="/about" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

<p>home works!</p>
